.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.child-item{
  margin: 10px; 
}
li.react-multi-carousel-item.carousel-item-padding-40-px {
  text-align: center;
}
.react-multi-carousel-item {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}

.app-module {
  height: 100%;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}
.slider-container {
  width: 100%;
  height: 100%;
  
  /* Add this */
  position:fixed;
  top:0;
  left:0;
  
  }
  .carousel-cotainer{
    margin: 10px;
    align-items: center;
    background-color: #09d3ac;
    justify-content: center;
  }
